# Entornos virtuales
env/
venv/
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Archivos temporales de Jupyter
.ipynb_checkpoints
*.ipynb

# Archivos de configuración de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos generados durante la ejecución
*.log
*.csv
*.dat
*.out